*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	font-family: sans-serif;

}

.calculator{
	width: 300px;
	padding-bottom: 15px;
	border-radius: 7px;
	background-color: black;
}

.display{
	width: 408px;
	height: 70px;
	border: 5px solid black;
	padding: 10px;
	font-size: 2rem;
	background-color: white;
	color: black;
	text-align: right;
	border-radius: 0.25rem;
}

.row{
	display: flex;
	justify-content: space-between;
	border-top: none;
}

button{
	width: 100px;
	height: 60px;
	border: 0.5px solid black;
	outline: none;
	font-size: 1.5rem;	
}
.keys{
	border: 4px solid black;
	border-top: none;
	background-color: #e1d9d9;
	color: black;
}

button:hover{
	cursor: pointer;
}

